/* Coolors Exported Palette - coolors.co/3cb2f7-587291-2f97c1-3066be-0a369d */

/* HSL */
$color1: hsla(202%, 92%, 60%, 1);
$color2: hsla(213%, 24%, 46%, 1);
$color3: hsla(197%, 61%, 47%, 1);
$color4: hsla(217%, 60%, 47%, 1);
$color5: hsla(222%, 88%, 33%, 1);

/* RGB */
$color1: rgba(60, 178, 247, 1);
$color2: rgba(88, 114, 145, 1);
$color3: rgba(47, 151, 193, 1);
$color4: rgba(48, 102, 190, 1);
$color5: rgba(10, 54, 157, 1);